{% extends 'base.html' %}
{% block extracss %}
<link href="/../static/css/todo.css" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="container" id="myWizard">
    <div class="row">
        <div class="col col-md-10">
            <h3 class="mt-4">COS 217: Buffer Overrun</h3>
        </div>
        <div class="col col-md-2">
            <button class="btn btn-primary mt-4" data-toggle="popover" data-trigger="hover" data-content="If you and your partner are working together on different screens, click to update your screen to your partner's." onclick="location.reload()">Update Page</button>
        </div>
    </div>
   
    <hr>
   
    <div class="progress">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="7" style="width: 0%;">
        Step 0 of 7
      </div>
    </div>
   
    <div class="navbar mt-2">
       <div class="navbar-inner">
             <ul class="nav nav-pills">
                <li class="active"><a class="nav-link active autosave" href="#step0" weight="0" num-steps="7" data-toggle="tab" data-step="0">Context</a></li>
                <li class="nav-item"><a class="nav-link autosave" href="#step1" weight="0" num-steps="7" data-toggle="tab" data-step="0">Setup</a></li>
                <li class="nav-item"><a class="nav-link autosave" href="#step2" weight="5" num-steps="7" data-toggle="tab" data-step="1">Step 1</a></li>
                <li class="nav-item"><a class="nav-link autosave" href="#step3" weight="30" num-steps="7" data-toggle="tab" data-step="2">Step 2</a></li>
                <li class="nav-item"><a class="nav-link autosave" href="#step4" weight="40" num-steps="7" data-toggle="tab" data-step="3">Step 3</a></li>
                <li class="nav-item"><a class="nav-link autosave" href="#step5" weight="60" num-steps="7" data-toggle="tab" data-step="4">Step 4</a></li>
                <li class="nav-item"><a class="nav-link autosave" href="#step6" weight="80" num-steps="7" data-toggle="tab" data-step="5">Step 5</a></li>
                <li class="nav-item"><a class="nav-link autosave" href="#step7" weight="100" num-steps="7" data-toggle="tab" data-step="6">Step 6</a></li>
                <li class="nav-item"><a class="nav-link autosave" href="#step8" weight="100" num-steps="7" data-toggle="tab" data-step="7">Wrapping Up</a></li>
             </ul>
       </div>
    </div>
    <p class="text text-right">Last Updated: <span id="updateTime"> </span></p>
    <div class="tab-content" id="tabs">
       <div class="tab-pane fade active show" id="step0">
            <div class="row">
                    <div class="col col-md-8">
                            <div class="h4">Goal</div>
                            <p>The purpose of this assignment is to help you learn (1) how programs are represented in ARMv8 machine language, (2) how ARMv8 stack frames are structured in memory, and (3) how ARMv8 programs can be vulnerable to buffer overrun attacks.</p>
                    </div>
                    <div class="col col-md-4">
                            <div class="h4">Grading Breakdown</div>
                            <ul>
                                <li>Step 1: 2%</li>
                                <li>Step 2: 37%</li>
                                <li>Step 3: 12%</li>
                                <li>Step 4: 15%</li>
                                <li>Step 5: 24%</li>
                                <li>Step 6: 10%</li>
                            </ul>
                    </div>
               </div>
           <div class="row align-items-start mb-4">
                <div class="col col-md-12">
                    <div class="h4">Task Description</div>
                    <p>Your task is to attack the given program by exploiting its buffer overrun vulnerability. More specifically, your job is to provide input data to the program so that it writes something more like this: </p>
                        <pre><code>
                            $ ./grader < dataB
                            What is your name?
                            B is your grade.
                            Thank you, Bob.
                        </code></pre>
                                                
                        <p>As you can see from reading the program, it is designed to give the B grade if the user's name is Andrew Appel, but not if the user's name is Bob. However, it is programmed sloppily: it reads the input into a buffer, but forgets to check whether the input fits. This means that a too-long input can overwrite other important memory, and you can trick the program into giving you a B even though your name is not Andrew Appel.</p>

                        <p>Here's another example</p>

                        <blockquote>
                        <pre>
                        $ ./grader &lt; dataA
                        <em>What is your name?</em>
                        <em>A is your grade.
                        Thank you, Bob.</em>
                        </pre>
                        </blockquote>

                        <p>As you can see from reading the program, it is designed not to give anyone an A under any circumstances. However, again, it is programmed sloppily. A too-long input can overwrite other important memory, and you can trick the program into giving you an A.</p>                              
                </div>
           </div>

           <div class="row">
               <div class="col col-md-12">
                   <div class="h4">Background</div>
                   <p>We will provide a "grader" program, both source code (<code>grader.c</code>) and executable binary code (<code>grader</code>). The file <code>grader</code> was produced from <code>grader.c</code> using this command:

                    <pre>
                    gcc217 -O -fomit-frame-pointer grader.c -o grader
                    </pre>
                    
                    <p>In short, the <code>-O</code> and <code>-fomit-frame-pointer</code> options make sure that the grader program is vulnerable to buffer overflow attacks. See the course instructors if you would like more information about those options.</p>
                    
                    <p>The program asks you for your name, and writes something like this (where the <code>user input</code> and <code><em>program output</em></code> are indicated by font style):</p>
                    
                    <blockquote>
                    <pre>
                    $ ./grader
                    <em>What is your name?</em>
                    Bob
                    <em>D is your grade.
                    Thank you, Bob.</em>
                    </pre>
                    </blockquote>
                    
                    <p>However, the author of the program inexplicably forgot to do bounds-checking on the array into which the program reads the input, and so the program is vulnerable to a <em>buffer overrun</em> (alias <em>buffer overflow</em>) attack.</p>
               </div>
           </div>
          <!-- <a class="btn btn-default btn-lg next" href="#">Continue</a> -->
       </div>
       <div class="tab-pane fade" id="step1">
           <div class="row">
               <div class="col col-md-12">
                    <div class="h4">Partner Setup</div>
                    <div class="form">
                        <label class="font-weight-bold mt-2">Partner: {{partner}}</label>
                        <br>
                        <label class="mt-2">Add Partner</label> 
                        <form action='/addpartner' method='post'>
                          <div class="input-group mb-3">
                              <input name="netid" type="text" class="form-control" placeholder="Partner's netid" aria-label="Partner's netid" aria-describedby="basic-addon2">
                              <div class="input-group-append">
                                <button class="btn btn-outline-secondary" id="instance" name="instance_id" value="{{instance.instance_id}}" action="submit">Add</button>
                              </div>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                    <div class="col col-md-12">
                        <div class="h4">Procedure</div>
                        <p>Develop on armlab. Use <code>emacs</code> to create source code. Use <code>gdb</code> to debug.</p>
        
                        <p>The armlab <code>/u/cos217/Assignment5</code> directory contains files that you will need. Subsequent parts of this document describe them. Create a project directory, and copy all files from the <code>/u/cos217/Assignment5</code> directory to your project directory. Then complete the parts of the assignment given below, in the order of their appearance.</p>
        
                        <blockquote>
                        <div style="padding:10px;border:5px solid green;">Study the given <code>Makefile</code>. Using it could save you lots of typing.
                        </div>
                        </blockquote>
        
                        <blockquote>
                        <div style="padding:10px;border:5px solid green;">
                        The precept document entitled <em>A Linux File Sharing Trick</em> describes a mechanism that you can use to share Assignment 5 files with your teammate.
                        </div>
                        </blockquote>
                    </div>               
            </div>
       </div>
       <div class="tab-pane fade" id="step2">
          <div class="row">
                <div class="col col-md-8">
                    <div class="h4">Instructions</div>
                      <p>Copy these sentences to your <code>readme</code> file, and fill in the blanks so the sentences are correct:</p>

                      <blockquote>
                      According to 18 U.S. Code 1030, if you were to use a buffer overrun attack to commit fraud or related activity in connection with computers, but did not attempt to cause death and did not knowingly or recklessly cause death, then you could receive a maximum penalty of _____ in prison.
                      </blockquote>
                      <blockquote>
                      According to 18 U.S. Code 1030, if you were to use a buffer overrun attack to commit fraud or related activity in connection with computers, and attempted to cause death or knowingly or recklessly caused death, then you could receive a maximum penalty of _____ in prison.
                      </blockquote>
                      
                      <p>It's fine to do a web search to complete Step 1 of the assignment.</p>
                </div>
                <div class="col col-md-4">
                    <div class="todolist not-done">
                        <div class="h4">To Do</div>
                           <input type="text" class="form-control add-todo" sortid="0" placeholder="Add todo">
                               <button id="checkAll" class="btn btn-success" sortid="0">Mark all as done</button>
                               
                               <hr>
                               <ul id="sortable0" class="list-unstyled">
                               <li class="ui-state-default">
                                   <div class="checkbox">
                                       <label>
                                           <input type="checkbox" value="" /> Fill in first blank</label>
                                   </div>
                               </li>
                               <li class="ui-state-default">
                                   <div class="checkbox">
                                       <label>
                                           <input type="checkbox" value="" /> Fill in second blank</label>
                                   </div>
                               </li>
                           </ul>
                    </div>
                </div>
          </div>
          <!-- <a class="btn btn-default prev" href="#">Previous</a>
          <a class="btn btn-default next" href="#">Continue</a> -->
       </div>
       <div class="tab-pane fade" id="step3">
            <div class="row">
                    <div class="col-md-8">
                        <div class="h4">Instructions</div>
                        <p>Create a text file named <code>memorymap</code>. Begin your <code>memorymap</code> file with your name and your teammate's name.
                            Take the <code>grader</code> executable binary file that we have provided you, and use <code>gdb</code> to analyze its sections.</p>
                        <p><b>Note: This is the most difficult and most important step in this assignment. The following steps will be go more smoothly if you have well-done memory maps. Please complete this portion carefully.</b></p>
                          <div id="accordion">
                                  <div class="card">
                                    <div class="card-header" id="headingOne">
                                      <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            The Memory Map of the Text Section
                                        </button>
                                      </h5>
                                    </div>
                                
                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                      <div class="card-body">
                                            <p>Analyze the <strong>text</strong> section by issuing this <code>x</code> command:</p>

                                            <pre>
        $ gdb grader
        (gdb) x/71i readString
                                            </pre>
                                            
                                            <p>Then copy the resulting 71 lines of assembly language code into your <code>memorymap</code> file. (Be careful: <code>gdb</code> displays the lines one windowfull at a time, so you must press the &lt;Enter&gt; key to see all 71 lines.) Then annotate the lines to explain them.</p>
                                            
                                            <p>Do not annotate every line of assembly language code. Instead, cluster the lines of assembly language code into "paragraphs," and annotate each paragraph. Your analysis must have this format:
                                            
                                            <blockquote>
                                            <pre>
        Annotation
        Line of assembly language code
        Line of assembly language code
        ...
        &lt;blank line&gt;
        Annotation
        Line of assembly language code
        Line of assembly language code
        ...
        &lt;blank line&gt;
        ...
                                            </pre>
                                            </blockquote>
                                            
                                            <p>Use these 7 annotations (and only these 7 annotations) in the <code>readString</code> function:</p>
                                            
                                            <blockquote>
                                            <pre>
        Prolog
        First loop setup
        First loop
        buf[i] = '\0'
        Second loop setup
        Second loop
        Epilog and return
                                            </pre>
                                            </blockquote>
                                            
                                            <p>Use these 4 annotations (and only these 4 annotations) in the <code>getName</code> function:</p>
                                            
                                            <blockquote>
                                            <pre>
        Prolog
        printf("What is your name?\n");
        readString();
        Epilog and return
                                            </pre>
                                            </blockquote>
                                            
                                            <p>Use these 8 annotations (and only these 8 annotations) in the <code>main</code> function:</p>
                                            
                                            <blockquote>
                                            <pre>
        Prolog
        mprotect(...);
        getName();      
        if (strcmp(name, "Andrew Appel") != 0) skip assignment to grade
        grade = 'B';
        printf("%c is your grade.\n", grade);      
        printf("Thank you, %s.\n", name);
        Epilog and return 0   
                                            </pre>
                                            </blockquote>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="card">
                                    <div class="card-header" id="headingTwo">
                                      <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            The Memory Map of the Data Section
                                        </button>
                                      </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                      <div class="card-body">
                                            <p>Analyze the <strong>data</strong> section by issuing these <code>gdb</code> commands:</p>

                                            <pre>
        $ gdb grader
        (gdb) break main
        (gdb) run
        (gdb) print &amp;grade
        (gdb) x/x &amp;grade
                                            </pre>
                                            
                                            <p>Place a table in your <code>memorymap</code> file showing the layout of the data section. The table must have three columns: <em>Address (in hex)</em>, <em>Content (in hex)</em>, and <em>Description</em>. The table must contain one row for each byte in the data section. Since the data section contains exactly one byte, the table must contain exactly one row.</p>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="card">
                                    <div class="card-header" id="headingThree">
                                      <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            The Memory Map of the BSS Section
                                        </button>
                                      </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                      <div class="card-body">
                                        <p>Analyze the <strong>bss</strong> section by issuing this <code>gdb</code> command:</p>
                                        <pre>
        $ gdb grader
        (gdb) print &amp;name
                                        </pre>

                                        <p>Place a table in your <code>memorymap</code> file showing the layout of the bss section. The table must have two columns: <em>Address (in hex)</em> and <em>Description</em>. The table must contain one row for each byte in the bss section, that is, one row for each byte of the <code>name</code> array.</p>

                                        <p>At the start of program execution, the content of the <code>name</code> array will be zeros. Later during program execution, the <code>name</code> array will contain more interesting data.</p>

                                        <p>Compose your memory map of the bss section before you implement your "A" attack (as described below). The table in your memory map must describe the content of the <code>name</code> array <strong>as you wish it to be</strong> during your "A" attack. Thus your memory map of the bss section will help you to compose your "A" attack.</p>

                                        <p>For your sake, it's fine to add another column to your memory map describing the content of the <code>name</code> array as you wish it to be during your "A+" attack. Thus your memory map of the bss section will help you to compose your "A+" attack. But you're not required to add that column.</p>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="card">
                                        <div class="card-header" id="headingFour">
                                          <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                The Memory Map of the Stack Section
                                            </button>
                                          </h5>
                                        </div>
                                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                          <div class="card-body">
                                                <p>Using your analysis of the text section, compose an analysis of the <strong>stack</strong> section. Place a table in your <code>memorymap</code> file showing the layout of the stack. The table must have two columns: <em>Offset</em> and <em>Description</em>. Each row must represent 8 bytes. Each offset must be expressed as a positive offset relative to the SP register. The first row must have offset 0, the second row must have offset 8, the third row must have offset 16, and so forth. The table must show the content of the stack from the top value through the value of the <code>X30</code> register that was pushed onto the stack by the <code>getName</code> function.</p>

                                                <p>You'll discover that the stack begins with the content of some registers; each row must have a description which is the name of the register whose content is stored at that spot in the stack. <!-- Then the stack contains a gap; the gap row(s) must have the description "gap".--> Then the stack contains the <code>buf</code> array; each row that comprises the <code>buf</code> array must have the description "buf". Finally the stack contains the content of the <code>X30</code> register that was stored by the <code>getName</code> function; that row must have the description "X30".</p>
                                          </div>
                                        </div>
                                      </div>
                          </div>
                    </div>
                    <div class="col col-md-4">
                        <div class="todolist not-done">
                            <div class="h4">To Do</div>
                               <input type="text" class="form-control add-todo" sortid="1" placeholder="Add todo">
                                   <button id="checkAll" onclick='AllDone(this)' class="btn btn-success" sortid="1">Mark all as done</button>
                                   <hr>
                                   <ul id="sortable1" class="list-unstyled">
                                   <li class="ui-state-default">
                                       <div class="checkbox">
                                           <label>
                                               <input type="checkbox" value="" /> Complete memory map of the Text section</label>
                                       </div>
                                   </li>
                                   <li class="ui-state-default">
                                       <div class="checkbox">
                                           <label>
                                               <input type="checkbox" value="" /> Complete memory map of the Data section</label>
                                       </div>
                                   </li>
                                   <li class="ui-state-default">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="" /> Complete memory map of the BSS section</label>
                                        </div>
                                    </li>
                                   <li class="ui-state-default">
                                       <div class="checkbox">
                                           <label>
                                               <input type="checkbox" value="" /> Complete memory map of the Stack section</label>
                                       </div>
                                   </li>
                               </ul>
                        </div>
                    </div>   
            </div>
       </div>
       <div class="tab-pane fade" id="step4">
         <div class="row">
             <div class="col-md-8">
                    <div class="h4">Instructions</div>
                    <p><b>Note: It is highly recommend you complete this step (and the whole assignment, in general) with your partner, if you have one.</b></p>
                    <p>Compose a C program named <code>createdataB.c</code> that produces a file named <code>dataB</code>, as short and simple as possible, that causes the <code>grader</code> program to write your name and recommend a grade of "B". You can see by reading the program that, if your name is Andrew Appel, that's very easy to do. But that's not easy to do if your name isn't Andrew Appel! To receive full credit the <code>dataB</code> file must cause the <code>grader</code> program to generate output whose format is indistinguishable from normal output.</p>

                    <p>The <code>createdataB.c</code> program must write to the <code>dataB</code> file; it must not write to <code>stdout</code>.</p>
                    
                    <p>Your <code>createdataB.c</code> file must contain these comments:</p>
                    
                    <ul>
                    <li><p>A <em>file</em> comment, that is, a comment at the beginning of the file providing the file name, your name, and your teammate's name.</p></li>
                    
                    <li><p>A <em>function</em> comment describing the "I/O behavior" of the <code>main</code> function. That is, the function comment must describe what the <code>main</code> function accepts as command-line arguments, reads from <code>stdin</code> or any other stream, writes to <code>stdout</code>, <code>stderr</code>, or any other stream, and returns.</p></li>
                    
                    <!--
                    <li><p>A <em>principles of operation</em> comment that describes how the <code>dataB</code> file causes the <code>grader</code> program to recommend the grade "B".</p></li>
                    -->
                    
                    <li><p><em>Local</em> comments, that is, comments throughout your program that thoroughly describe the bytes that the program writes to the <code>dataB</code> file.</p></li>
                    </ul>
                
                    <blockquote>
                    <div style="padding:10px;border:5px solid green;">It is acceptable to use "magic numbers" throughout your <code>createdataB.c</code> file.
                    </div>
                    </blockquote>
                    
                    <blockquote>
                    <div style="padding:10px;border:5px solid green;">
                    For the "B" attack it's OK to truncate your name(s) if necessary.
                    </div>
                    </blockquote>
                    
                    <blockquote>
                    <div style="padding:10px;border:5px solid green;">Suggestion: After creating your <code>dataB</code> file, issue the command <code>xxd dataB</code> to confirm that the file contains exactly the bytes that you want it to contain.
                    </div>
                    </blockquote>
             </div>
             <div class="col col-md-4">
                <div class="todolist not-done">
                    <div class="h4">To Do</div>
                       <input type="text" class="form-control add-todo" sortid="2" placeholder="Add todo">
                           <button id="checkAll" onclick='AllDone(this)' class="btn btn-success" sortid="2">Mark all as done</button>
                           <hr>
                           <ul id="sortable2" class="list-unstyled">
                           <li class="ui-state-default">
                               <div class="checkbox">
                                   <label>
                                       <input type="checkbox" value="" /> Figure out what <code>dataB</code> should contain</label>
                               </div>
                           </li>
                           <li class="ui-state-default">
                               <div class="checkbox">
                                   <label>
                                       <input type="checkbox" value="" /> Compose <code>createdataB.c</code> and run</label>
                               </div>
                           </li>
                           <li class="ui-state-default">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="" /> Use <code>xxd</code> command in terminal to check if the content of <code>dataB</code> are what you want it to be</label>
                                </div>
                            </li>
                       </ul>
                </div>
            </div>   
         </div>
       </div>
       <div class="tab-pane fade" id="step5">
         <div class="row">
             <div class="col col-md-8">
                 <div class="h4">Instructions</div>
                    <p>The given <code>miniassembler.h</code> interface file declares four functions that generate machine language instructions. Comments in the file describe the functions. The given <code>miniassembler.c</code> implementation file defines one of those functions. Define the other three, thus completing the <code>miniassembler.c</code> implementation file.</p>

                    <p>The given <code>testminiassembler.c</code> file tests the <code>MiniAssembler</code> module. Use the MiniAssembler module and <code>testminiassembler.c</code> to build a program named <code>miniassembler</code>. Run the program, and compare its output to the given <code>testminiassembler.out</code> file to make sure the function definitions in your MiniAssembler module are correct.</p>
                    <p><b>Helpful Tip: </b><code>testminiassembler.c</code> is a pretty comprehensive tester, and if you pass its test, it means that your functions work as intended.</p>
             </div>
             <div class="col col-md-4">
                <div class="todolist not-done">
                    <div class="h4">To Do</div>
                       <input type="text" class="form-control add-todo" sortid="3" placeholder="Add todo">
                           <button id="checkAll" onclick='AllDone(this)' class="btn btn-success" sortid="3">Mark all as done</button>
                           <hr>
                           <ul id="sortable3" class="list-unstyled">
                           <li class="ui-state-default">
                               <div class="checkbox">
                                   <label>
                                       <input type="checkbox" value="" /> Write the other three functions detailed in <code>miniassembler.h</code></label>
                               </div>
                           </li>
                           <li class="ui-state-default">
                               <div class="checkbox">
                                   <label>
                                       <input type="checkbox" value="" /> Test the functions you've written using <code>testminiassembler.c</code></label>
                               </div>
                           </li>
                       </ul>
                </div>
            </div>   
         </div>
       </div>
        <div class="tab-pane fade" id="step6">
         <div class="row">
             <div class="col-md-8">
                    <div class="h4">Instructions</div>
                    <p>Compose a C program named <code>createdataA.c</code> that produces a file named <code>dataA</code>, as short and simple as possible, that causes the <code>grader</code> program to write your name and recommend a grade of "A". To receive full credit the <code>dataA</code> file must cause the <code>grader</code> program to generate output whose format is indistinguishable from normal output. Your program must call the four functions that are declared in <code>miniassembler.h</code>.<p>

                            <p>The <code>createdataA.c</code> program must write to the <code>dataA</code> file; it must not write to <code>stdout</code>.</p>
                            
                            <p>Your <code>createdataA.c</code> file must contain these comments:</p>
                            
                            <ul>
                            <li><p>A <em>file</em> comment, that is, a comment at the beginning of the file providing the file name, your name, and your teammate's name.</p></li>
                            
                            <li><p>A <em>function</em> comment describing the "I/O behavior" of the <code>main</code> function. That is, the function comment must describe what the <code>main</code> function accepts as command-line arguments, reads from <code>stdin</code> or any other stream, writes to <code>stdout</code>, <code>stderr</code>, or any other stream, and returns.</p></li>
                            
                            <!--
                            <li><p>A <em>principles of operation</em> comment that describes how the <code>dataA</code> file causes the <code>grader</code> program to recommend the grade "A".</p></li>
                            -->
                            
                            <li><p><em>Local</em> comments, that is, comments throughout your program that thoroughly describe the bytes that the program writes to the <code>dataA</code> file.</p></li>
                            </ul>
                            
                            <blockquote>
                            <div style="padding:10px;border:5px solid green;">It is acceptable to use "magic numbers" throughout your <code>createdataA.c</code> file.
                            </div>
                            </blockquote>
                            
                            <blockquote>
                            <div style="padding:10px;border:5px solid green;">
                            For the "A" attack it's OK to truncate your name(s) if necessary.
                            </div>
                            </blockquote>
                            
                            <blockquote>
                            <div style="padding:10px;border:5px solid green;">Suggestion: After creating your <code>dataA</code> file, issue the command <code>xxd dataA</code> to confirm that the file contains exactly the bytes that you want it to contain.
                            </div>
                            </blockquote>
             </div>
             <div class="col col-md-4">
                <div class="todolist not-done">
                    <div class="h4">To Do</div>
                       <input type="text" class="form-control add-todo" sortid="4" placeholder="Add todo">
                           <button id="checkAll" onclick='AllDone(this)' class="btn btn-success" sortid="4">Mark all as done</button>
                           <hr>
                           <ul id="sortable4" class="list-unstyled">
                           <li class="ui-state-default">
                               <div class="checkbox">
                                   <label>
                                       <input type="checkbox" value="" /> Figure out what <code>dataB</code> should contain</label>
                               </div>
                           </li>
                           <li class="ui-state-default">
                               <div class="checkbox">
                                   <label>
                                       <input type="checkbox" value="" /> Compose <code>createdataB.c</code> and run</label>
                               </div>
                           </li>
                           <li class="ui-state-default">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="" /> Use <code>xxd</code> command in terminal to check if the content of <code>dataB</code> are what you want it to be</label>
                                </div>
                            </li>
                       </ul>
                </div>
            </div> 
         </div>
       </div>
       <div class="tab-pane fade" id="step7">
            <div class="row">
                <div class="col-md-12">
                    <div class="h4">Instructions</div>
                    <p>Compose a C program named <code>createdataAplus.c</code> that produces a file named <code>dataAplus</code>, as short and simple as possible, that causes the <code>grader</code> program to write your name and recommend a grade of "A+". To receive credit the <code>dataAplus</code> file must cause the <code>grader</code> program to generate output whose format is indistinguishable from normal output. </p>

                    <p>The <code>createdataAplus.c</code> program must write to the <code>dataAplus</code> file; it must not write to <code>stdout</code>.</p>

                    <p>Your <code>createdataAplus.c</code> file must contain:</p>

                    <ul>
                    <li><p>A <em>file</em> comment, that is, a comment at the beginning of the file providing the file name, your name, and your teammate's name.</p></li>

                    <li><p>A <em>function</em> comment describing the "I/O behavior" of the <code>main</code> function. That is, the function comment must describe what the <code>main</code> function accepts as command-line arguments, reads from <code>stdin</code> or any other stream, writes to <code>stdout</code>, <code>stderr</code>, or any other stream, and returns.</p></li>

                    <!--
                    <li><p>A <em>principles of operation</em> comment that describes how the <code>dataAplus</code> file causes the <code>grader</code> program to recommend the grade "A+".</p></li>
                    -->

                    <li><p><em>Local</em> comments, that is, comments throughout your program that thoroughly describe the bytes that the program writes to the <code>dataAplus</code> file.</p></li>
                    </ul>
                    <p><b>The "A+" attack (as defined below) is the challenge part of this assignment. While doing the challenge part of the assignment, you are bound to observe the course policies regarding assignment conduct as given in the course Policies web page, plus one additional policy: you may not use any "human" sources of information. That is, you may not consult with the course's staff members, the lab teaching assistants, other current students via Piazza, or any other people while working on the challenge part of an assignment, except for clarification of requirements. However you may consult with your teammate, with no limitations.</b></p>

                    <blockquote>
                    <div style="padding:10px;border:5px solid green;">It is acceptable to use "magic numbers" throughout your <code>createdataAplus.c</code> file.
                    </div>
                    </blockquote>

                    <blockquote>
                    <div style="padding:10px;border:5px solid green;">
                    For the "A+" attack it's OK to truncate your name(s) if necessary.
                    </div>
                    </blockquote>

                    <blockquote>
                    <div style="padding:10px;border:5px solid green;">
                    For the "A+" attack it's OK to declare additional functions in the <code>miniassembler.h</code> file and define additional functions in the <code>miniassembler.c</code> file.
                    </div>
                    </blockquote>  
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="step8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="h4">Instructions</div>
                        <p>Edit your copy of the given <code>readme</code> file by answering each question that is expressed therein.</p>
                        <p>One of the sections of the <code>readme</code> file requires you to list the authorized sources of information that you used to complete the assignment. Another section requires you to list the <em>unauthorized</em> sources of information that you used to complete the assignment. Your grader will not grade your submission unless you have completed those sections. To complete the "authorized sources" section of your <code>readme</code> file, copy the list of authorized sources given in the <em>Policies</em> web page to that section, and edit it as appropriate.</p>

                        <p>Provide the instructors with your feedback on the assignment. To do that, issue this command:</p>

                        <blockquote>
                        <pre>
                        FeedbackCOS217.py 5
                        </pre>
                        </blockquote>

                        <p>and answer the questions that it asks. (When answering the numeric questions, please enter the average of the responses that you and your teammate would provide individually.) That command stores its questions and your answers in a file named <code>feedback</code> in your working directory.</p>

                        <p>Submit your work electronically on armlab. If you worked with a teammate, then one of the teammates must submit all of your team's files, and the other teammate must submit none of your team's files. Your <code>readme</code> file, your <code>memorymap</code> file, and your source code files must contain both your name and your teammate's name. Use these commands to submit:</p>

                        <blockquote>
                        <pre>
                        submit 5 createdataB.c 
                        submit 5 miniassembler.h miniassembler.c
                        submit 5 createdataA.c
                        submit 5 createdataAplus.c
                        submit 5 memorymap readme feedback
                        </pre>
                        </blockquote>
                    </div>
                </div>
            </div>
    </div>
 </div>
{% endblock %}
{% block extrajs %}
<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script> -->
<script src="/../static/js/wizard.js"></script>
<script src="/../static/js/todo.js"></script>
<script src="/../static/js/addpartner.js"></script>
<script src="/../static/js/popover.js"></script>
{% endblock %}
