{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="row mt-4">
        <div class="h1">All Templates</div>
    </div>
    <div class="row">
        <div class="card" style="width: 18rem;">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body">
                  <h5 class="card-title">COS 217: Buffer Overrun</h5>
                  <!-- <p class="card-text"></p> -->
                  <a href="/addtemplate" class="btn btn-primary">Add</a>
                </div>
        </div>
    </div>
</div>

{% endblock %}