<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Business Frontpage - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/templatecard.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/business-frontpage.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Start Bootstrap</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Library</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My Templates</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <header class="h2 mt-4">
        My Templates
      </header>
    </div>
      <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <div class="tile">
                  <div class="wrapper">
                      <div class="header">Template Name</div>
                      <div class="dates">
                          <div class="start">
                              <strong>STARTS</strong> 12:30 JAN 2015
                              <span></span>
                          </div>
                          <div class="ends">
                              <strong>ENDS</strong> 14:30 JAN 2015
                          </div>
                      </div>

                      <div class="stats">

                          <div>
                              <strong>INVITED</strong> 3098
                          </div>

                          <div>
                              <strong>JOINED</strong> 562
                          </div>

                          <div>
                              <strong>DECLINED</strong> 182
                          </div>

                      </div>

                      <div class="stats">

                          <div>
                              <strong>INVITED</strong> 3098
                          </div>

                          <div>
                              <strong>JOINED</strong> 562
                          </div>

                          <div>
                              <strong>DECLINED</strong> 182
                          </div>

                      </div>

                      <div class="footer">
                          <a href="#" class="Cbtn Cbtn-primary">View</a>
                          <a href="#" class="Cbtn Cbtn-danger">Delete</a>
                      </div>
                  </div>
              </div> 
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <div class="tile">
                  <div class="wrapper">
                      <div class="header">Template Name</div>
                      <div class="dates">
                          <div class="start">
                              <strong>STARTS</strong> 12:30 JAN 2015
                              <span></span>
                          </div>
                          <div class="ends">
                              <strong>ENDS</strong> 14:30 JAN 2015
                          </div>
                      </div>

                      <div class="stats">

                          <div>
                              <strong>INVITED</strong> 3098
                          </div>

                          <div>
                              <strong>JOINED</strong> 562
                          </div>

                          <div>
                              <strong>DECLINED</strong> 182
                          </div>

                      </div>

                      <div class="stats">

                          <div>
                              <strong>INVITED</strong> 3098
                          </div>

                          <div>
                              <strong>JOINED</strong> 562
                          </div>

                          <div>
                              <strong>DECLINED</strong> 182
                          </div>

                      </div>

                      <div class="footer">
                          <a href="#" class="Cbtn Cbtn-primary">View</a>
                          <a href="#" class="Cbtn Cbtn-danger">Delete</a>
                      </div>
                  </div>
              </div> 
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <div class="tile">
                  <div class="wrapper">
                      <div class="header">Template Name</div>
                      <div class="dates">
                          <div class="start">
                              <strong>STARTS</strong> 12:30 JAN 2015
                              <span></span>
                          </div>
                          <div class="ends">
                              <strong>ENDS</strong> 14:30 JAN 2015
                          </div>
                      </div>

                      <div class="stats">

                          <div>
                              <strong>INVITED</strong> 3098
                          </div>

                          <div>
                              <strong>JOINED</strong> 562
                          </div>

                          <div>
                              <strong>DECLINED</strong> 182
                          </div>

                      </div>

                      <div class="stats">

                          <div>
                              <strong>INVITED</strong> 3098
                          </div>

                          <div>
                              <strong>JOINED</strong> 562
                          </div>

                          <div>
                              <strong>DECLINED</strong> 182
                          </div>

                      </div>

                      <div class="footer">
                          <a href="#" class="Cbtn Cbtn-primary">View</a>
                          <a href="#" class="Cbtn Cbtn-danger">Delete</a>
                      </div>
                  </div>
              </div> 
          </div>
      </div>
  </div>
  <!-- <div class="container">
    <div class="row mt-4">
      <header class="h1">
        My templates
      </header>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Template Name</h5>
            <p class="card-text">Description of template, maybe for whichever class.</p>
            <a href="#" class="btn btn-primary">Edit Template</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Template Name</h5>
            <p class="card-text">Description of template, maybe for whichever class.</p>
            <a href="#" class="btn btn-primary">Edit Template</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Template Name</h5>
            <p class="card-text">Description of template, maybe for whichever class.</p>
            <a href="#" class="btn btn-primary">Edit Template</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Template Name</h5>
            <p class="card-text">Description of template, maybe for whichever class.</p>
            <a href="#" class="btn btn-primary">Edit Template</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Template Name</h5>
            <p class="card-text">Description of template, maybe for whichever class.</p>
            <a href="#" class="btn btn-primary">Edit Template</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Template Name</h5>
            <p class="card-text">Description of template, maybe for whichever class.</p>
            <a href="#" class="btn btn-primary">Edit Template</a>
          </div>
        </div>
      </div>
    </div>
  </div> -->
 
</body>
</html>