<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Business Frontpage - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/business-frontpage.css" rel="stylesheet">
  <link href="css/wizard.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
        <a class="navbar-brand" href="#">Page Name</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Library</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">My Templates</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
            </li>
            </ul>
        </div>
        </div>
    </nav>

    <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-3 side-content">
                    <div class="bs-vertical-wizard">
                        <ul>
                            <li class="current">
                                <a href="#">Overview <i class="ico fa fa-check ico-green"></i>
                                    <span class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, cumque.</span>
                                </a>
                            </li>

                            <li class="complete prev-step">
                                <a href="#">Details <i class="ico fa fa-check ico-green"></i>
                                    <span class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, cumque.</span>
                                </a>
                            </li>
                            <li class="current">
                                <a href="#">Meta 
                                    <span class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, cumque.</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Attributes
                                    <span class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, cumque.</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="#">Locked <i class="ico fa fa-lock ico-muted"></i>
                                    <span class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, cumque.</span>
                                </a>
                            </li>
                            <li class="locked">
                                <a href="#">Images <i class="ico fa fa-lock ico-muted"></i>
                                    <span class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, cumque.</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-8 col-md-9">
                </div>

            </div>
            
</div>

    <script src="js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>
</html>