{% extends 'base.html' %}
{% block extracss %}
<link href="/../static/css/todo.css" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="container" id="myWizard">
    <div class="row">
        <div class="col col-md-10">
            <h3 class="mt-4">COS 126: Travelling Salesperson</h3>
        </div>
        <div class="col col-md-2">
            <button class="btn btn-primary mt-4" data-toggle="popover" data-trigger="hover" data-content="If you and your partner are working together on different screens, click to update your screen to your partner's." onclick="location.reload()">Update Page</button>
        </div>
    </div>
    
    <hr>
    <div class="progress">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="6" style="width: 0%;">
        Step 0 of 8
      </div>
    </div>
   
    <div class="navbar mt-2">
       <div class="navbar-inner">
             <ul class="nav nav-pills">
                <li class="active"><a class="nav-link active" weight="10" href="#step0" num-steps="8" data-toggle="tab" data-step="0">Context</a></li>
                <li class="nav-item"><a class="nav-link autosave" weight="15" href="#step1"  num-steps="8"  data-toggle="tab" data-step="1">Setup</a></li>
                <li class="nav-item"><a class="nav-link autosave" weight="25" href="#step2"  num-steps="8" data-toggle="tab" data-step="2">Step 1</a></li>
                <li class="nav-item"><a class="nav-link autosave" weight="40" href="#step3"  num-steps="8" data-toggle="tab" data-step="3">Step 2</a></li>
                <li class="nav-item"><a class="nav-link autosave" weight="50" href="#step4"  num-steps="8" data-toggle="tab" data-step="4">Step 3</a></li>
                <li class="nav-item"><a class="nav-link autosave" weight="80" href="#step5"  num-steps="8" data-toggle="tab" data-step="5" class="bg-danger">Step 4</a></li>
                <li class="nav-item"><a class="nav-link autosave" weight="90" href="#step6"  num-steps="8" data-toggle="tab" data-step="6">Step 5</a></li>
                <li class="nav-item"><a class="nav-link autosave" weight="95" href="#step7"  num-steps="8" data-toggle="tab" data-step="7">Step 6</a></li>
                <li class="nav-item"><a class="nav-link autosave" weight="100" href="#step8"  num-steps="8" data-toggle="tab" data-step="8">Wrapping Up</a></li>
             </ul>
       </div>
    </div>
    <p class="text text-right">Last Updated: <span id="updateTime"> </span></p>
    <div class="tab-content mt-4">
       <div class="tab-pane fade show active" id="step0">
            <div class="row">
                    <div class="col col-md-12">
                            <div class="h4">Goal</div>
                            <p>Given n points in the plane, the goal of a traveling salesperson is to visit all of them and return to the starting point, while keeping the total length traveled as short as possible. Implement two greedy heuristics to find good, but not optimal, solutions to the traveling salesperson problem.</p>
                    </div>
               </div>
           <div class="row align-items-start mb-4">
                <div class="col col-md-12">
                    <div class="h4">Background</div>
                    <p><b>Context: </b>The importance of the TSP does not arise from an overwhelming demand of salespeople to minimize their travel length, but rather from a wealth of other applications such as vehicle routing, circuit board drilling, VLSI design, robot control, X-ray crystallography, machine scheduling, and computational biology.</p>
                    <p>The TSP is a notoriously difficult combinatorial optimization problem. In principle, you can enumerate all possible tours and pick the shortest one; in practice, the number of tours is so staggeringly large (nearly n factorial) that this approach is useless. For large n, no one knows of an efficient method that can find the shortest possible tour for any given set of points. However, many methods have been studied that seem to work well in practice, even though they do not guarantee to produce the best possible tour. Such methods are called heuristics.</p>
                </div>
           </div>

           <div class="row">
               <div class="col col-md-12">
                   <div class="h4">Task</div>
                   <p>Your main task is to implement the <strong>nearest neighbor</strong> and <strong>smallest increase</strong> insertion heuristics for building a tour incrementally, one point at a time. Start with a one-point tour (from the first point back to itself), and iterate the following process until there are no points left:</p>
                    <ul>
                        <li><em>Nearest neighbor heuristic:</em>&nbsp; Read in the next point, and add it to the current tour <em>after</em> the point to which it is closest. (If there is more than one point to which it is closest, insert it after the first such point you discover.)</li>
                        <li><em>Smallest increase heuristic:</em>&nbsp; Read in the next point, and add it to the current tour <em>after</em> the point where it results in the least possible increase in the tour length. (If there is more than one point, insert it after the first such point you discover.</li>
                    </ul>
               </div>
           </div>
          <!-- <a class="btn btn-default btn-lg next" href="#">Continue</a> -->
       </div>
       <div class="tab-pane fade" id="step1">
           <div class="row">
               <div class="col col-md-12">
                    
                </div>
            </div>
            <div class="row mt-4">
                    <div class="col col-md-8">
                        <div class="h4">Partner Setup</div>
                            <!-- {% if err %}
                                <div class="alert alert-danger">
                                    {{err}}
                                </div>
                            {% endif %} -->
                            <div class="adderror"></div>
                            <div class="form">
                                <label id="partnername" class="font-weight-bold mt-2">Partner: {{partner}}</label>
                                <br>
                                <label class="mt-2">Add Partner</label> 
                                <form id="addpartner" onsubmit="addpartner()">
                                    <div class="input-group mb-3">
                                        <input name="netid" type="text" class="form-control" placeholder="Partner's netid" aria-label="Partner's netid" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" id="instance" name="instance_id" value="{{instance.instance_id}}" action="submit">Add</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        <div class="h4 mt-4">Procedure</div>
                        <p>Download the following Point API. <b>Do not implement it.</b> In this assignment, you will use the constructor to create a point, the toString() method to print it, the distanceTo() method to compute the distance between two points, and the drawTo() method to draw a line segment connecting two points</p>
<pre>
public class <b>Point</b> {
public        <b>Point(double x, double y)</b>  <span class="comment">// creates the point (x, y)</span>
public double <b>distanceTo(Point that)</b>     <span class="comment">// returns the Euclidean distance between the two points</span>
public   void <b>draw()</b>                     <span class="comment">// draws this point to standard drawing</span>
public   void <b>drawTo(Point that)</b>         <span class="comment">// draws the line segment between the two points</span>
public String <b>toString()</b>                 <span class="comment">// returns a string representation of this point</span>
}
</pre>                        
                    </div>
                    <div class="col col-md-4">
                        <div class="todolist not-done">
                            <div class="h4">To Do</div>
                               <input type="text" class="form-control add-todo" sortid="1" placeholder="Add todo">
                                   <button id="checkAll" onclick='AllDone(this)' class="btn btn-success" sortid="1">Mark all as done</button>
                                   <hr>
                                   <ul id="sortable1" class="list-unstyled">
                                   <li class="ui-state-default">
                                       <div class="checkbox">
                                           <label>
                                               <input type="checkbox" value="" /> Review the CircularQuote exercise from precept. Focus on understanding circularly linked lists and the do {...} while (...) loop to traverse them</label>
                                       </div>
                                   </li>
                                   <li class="ui-state-default">
                                       <div class="checkbox">
                                           <label>
                                               <input type="checkbox" value="" /> Download and extract the .zip file mentioned on the assignment page</label>
                                       </div>
                                   </li>
                                   <li class="ui-state-default">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="" /> Save Tour.java in the same directory</label>
                                        </div>
                                    </li>
                                   <li class="ui-state-default">
                                       <div class="checkbox">
                                           <label>
                                               <input type="checkbox" value="" /> Study the <a target="_blank" href="https://www.cs.princeton.edu/courses/archive/fall19/cos126/assignments/tsp/tsp/Point.java">Point </a>API</label>
                                       </div>
                                   </li>
                               </ul>
                        </div>
                    </div>             
            </div>
       </div>
       <div class="tab-pane fade" id="step2">
          <div class="row">
              <div class="col col-md-8">
                  <div class="h4">Instructions: Starting Out</div>
                    <p>This is the first part of completing the Tour.java API. As a reminder, the API is shown below.</p>
<pre>
        private class <b>Node</b> {
            private Point <b>p</b>;
            private Node  <b>next</b>;
        }
</pre>
<pre>
        public class <b>Tour</b> {
            public        <b>Tour</b>()                                    <span class="comment">// creates an empty tour</span>
            public        <b>Tour</b>(Point a, Point b, Point c, Point d)  <span class="comment">// creates the 4-point tour a->b->c->d->a (for debugging)</span>
            public    int <b>size</b>()                                    <span class="comment">// returns the number of points in this tour</span>
            public double <b>length</b>()                                  <span class="comment">// returns the length of this tour</span>
            public String <b>toString</b>()                                <span class="comment">// returns a string representation of this tour</span>
            public   void <b>draw</b>()                                    <span class="comment">// draws this tour to standard drawing</span>
            public   void <b>insertNearest</b>(Point p)                    <span class="comment">// inserts p using the nearest neighbor heuristic</span>
            public   void <b>insertSmallest</b>(Point p)                   <span class="comment">// inserts p using the smallest increase heuristic</span>
                                    
            <span class="comment">// tests this class by directly calling all constructors and instance methods</span>
            public static void <b>main</b>(String[] args)
        <b>}</b>
</pre>  
                
                </div>
                <div class="col col-md-4">
                        <div class="todolist not-done">
                                <div class="h4">To Do</div>
                                <input type="text" class="form-control add-todo" sortid="2" placeholder="Add todo">
                                    <button id="checkAll" onclick="AllDone(this)" class="btn btn-success" sortid="2">Mark all as done</button>
                                    
                                    <hr>
                                    <ul id="sortable2" class="list-unstyled">
                                    <li class="ui-state-default">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="" /> Put the standard linked-list data type Node as a nested class into Tour.java</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="" /> Include one instance variable, say first, of type Node that is a reference to the "first" node of the circularly linked list</label>
                                        </div>
                                    </li>
                                    <li class="ui-state-default">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="" /> Write the Tour() constructor</label>
                                            </div>
                                    </li>
                                    <li class="ui-state-default">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="" /> Write the Tour(Point a, Point b, Point c, Point d) constructor by creating four Node objects, assigning one point to each, and linking the nodes to one another in a circular manner</label>
                                            </div>
                                    </li>
                                </ul>
                        </div>
                </div>
            </div>
       </div>
       <div class="tab-pane fade" id="step3">
           <div class="row">
               <div class="col col-md-8">
                   <div class="h4">Instructions</div>
                    <p>Write the size() method. It should traverse each Node in the circularly linked list, starting at first, and incrementing a counter at each step. This method requires only a few lines of code, but it is important to think about it carefully, because debugging linked-list code is 
                        notoriously difficult and frustrating. <b>With circularly linked lists, the last node in the list points back to the first node, so watch out for infinite loops.</b></p>
                    <div id="accordion">
                            <div class="card">
                              <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                      Test size() and length()
                                  </button>
                                </h5>
                              </div>
                          
                              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                        <p>You can test your code for <code>size()</code> and <code>length()</code> using the following client.</p>
<pre>public static void main(String[] args) {
                    
        <font color=gray>// define 4 points that are the corners of a square</font>
        Point a = new Point(100.0, 100.0);
        Point b = new Point(500.0, 100.0);
        Point c = new Point(500.0, 500.0);
        Point d = new Point(100.0, 500.0);
  
        <font color=gray>// create the tour a -> b -> c -> d -> a</font>
        Tour squareTour = new Tour(a, b, c, d);
  
        <font color=gray>// print the size to standard output</font>
        int size = squareTour.size();
        StdOut.println("Number of points = " + size);
                    
        <font color=gray>// print the tour length to standard output</font>
        double length = squareTour.length();
        StdOut.println("Tour length = " + length);
  }
</pre>
                                </div>
                              </div>
                            </div>
                            <div class="card">
                                    <div class="card-header" id="headingThree">
                                      <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Helpful Notes
                                        </button>
                                      </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                      <div class="card-body">
                                       <ul class="list">
                                           <li><code>length()</code> is very similar to <code>size()</code>, except that you need to access two successive points in the tour and call the <code>distanceTo()</code> method from the Point data type.</li>
                                           <!-- <li><code>toString()</code> is very similar to <code>size()</code>, except that you must create a <code>StringBuilder</code> object and append each Point to the <code>StringBuilder</code> object.</li> -->
                                       </ul>
                                      </div>
                                    </div>
                            </div>
                    </div>
                </div>
                <div class="col col-md-4">
                    <div class="todolist not-done">
                            <div class="h4">To Do</div>
                            <input type="text" class="form-control add-todo" sortid="3" placeholder="Add todo">
                            <button id="checkAll" onclick="AllDone(this)" class="btn btn-success" sortid="3">Mark all as done</button>
                                
                                <hr>
                            <ul id="sortable3" class="list-unstyled">
                                <li class="ui-state-default">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="" /> Implement the <code>size()</code> method</label>
                                        </div>
                                </li>
                                <li class="ui-state-default">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="" /> Test the <code>size()</code> method</label>
                                        </div>
                                </li>
                                <li class="ui-state-default">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="" /> Implement the <code>length()</code> method</label>
                                        </div>
                                </li>
                                <li class="ui-state-default">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="" /> Test the <code>length()</code> method</label>
                                        </div>
                                </li>
                            </ul>
                    </div>
                </div>
            </div>
       </div>
       <div class="tab-pane fade" id="step4">
            <div class="row">
                <div class="col col-md-8">
                    <div class="h4">Instructions</div>
                    <p>
                        Implement <code>toString()</code> and <code>draw()</code>. <code>toString()</code> is very similar to the <code>size()</code> method, 
                        except that you need to access two successive points in the tour and call the <code>>distanceTo()</code> method from the <code>Point</code>> data type.
                        The draw() method is very similar to length(), except that you will need to call the drawTo() method from the Point data type. 
                        You will also need to include the following statements in <code>main()</code>:
                        <pre>
                            StdDraw.setXscale(0, 600);
                            StdDraw.setYscale(0, 600);
                        </pre>
                        <div id="accordion">
                                <div class="card">
                                  <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                          Test toString()
                                      </button>
                                    </h5>
                                  </div>
                              
                                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                            <p>You can test your code for <code>toString()</code> using the following.</p>
                                            <pre>
    <font color=gray>// print the tour to standard output</font>
    StdOut.println(squareTour);
                                            </pre>
                                            <p>You should get the following output:</p>
                                                <pre>
    (100.0, 100.0)
    (500.0, 100.0)
    (500.0, 500.0)
    (100.0, 500.0)
                                            </pre>
                                    </div>
                                  </div>
                                </div>
                                <div class="card">
                                  <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                          Test draw()
                                      </button>
                                    </h5>
                                  </div>
                                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="card-body">
                                    <p>
                                        Test the draw() method on the 4-point tour—you should see a square.
                                    </p>
    
                                    </div>
                                  </div>
                                </div>
                        </div>
                    </p>
                </div>
                <div class="col col-md-4">
                        <div class="todolist not-done">
                                <div class="h4">To Do</div>
                                <input type="text" class="form-control add-todo" sortid="4" placeholder="Add todo">
                                    <button id="checkAll" onclick="AllDone(this)" class="btn btn-success" sortid="4">Mark all as done</button>
                                    
                                    <hr>
                                    <ul id="sortable4" class="list-unstyled">
                                    <li class="ui-state-default">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="" /> Implement the <code>toString()</code> method</label>
                                            </div>
                                    </li>
                                    <li class="ui-state-default">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="" /> Test the <code>toString()</code> method</label>
                                            </div>
                                    </li>
                                    <li class="ui-state-default">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="" /> Implement the <code>draw()</code> method</label>
                                            </div>
                                    </li>
                                    <li class="ui-state-default">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="" /> Test the <code>draw()</code> method</label>
                                            </div>
                                    </li>
                                </ul>
                        </div>
                </div>
            </div>
       </div>
       <div class="tab-pane fade" id="step5">
            <div class="row">
                <div class="col-md-12">    
                    <div class="row">
                       <div class="col col-md-8">
                           <div class="h4">Instructions:</div>
                           <p>
                                This step requires you to implement <code>insertNearest()</code>. To determine which node to insert the point p after, compute the Euclidean distance between each point in the tour and p by traversing the circularly linked list. 
                                As you proceed, store the node containing the closest point and its distance to p. 
                                After you have found the closest node, create a node containing p, and insert it after the closest node. This involves changing the next field of both the newly created node and the closest node.
                           </p>
                           <p>
                               <b>Note: this is the most difficult part of the assignment.</b>
                           </p>
                           <div id="accordion">
                                <div class="card">
                                  <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                          Test insertNearest()
                                      </button>
                                    </h5>
                                  </div>
                              
                                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>
                                            To test insertNearest(), try inserting various points into a 4-point tour.
                                            Once you have successfully tested on a 4-point tour, here is the resulting tour for the 10-point problem which has length 1566.1363. 
                                            Note that the optimal tour has length 1552.9612 so this rule does not, in general, yield the best tour.
                                        </p>
                                        <pre>
This file shows the tour and its length after each point is inserted.
It may be useful for debugging.

(110.0, 225.0)
Tour length = 0.0

(110.0, 225.0)
(161.0, 280.0)
Tour length = 150.0133327407934

(110.0, 225.0)
(161.0, 280.0)
(325.0, 554.0)
Tour length = 787.358844018307

(110.0, 225.0)
(161.0, 280.0)
(325.0, 554.0)
(490.0, 285.0)
Tour length = 1094.6173929810654

(110.0, 225.0)
(161.0, 280.0)
(157.0, 443.0)
(325.0, 554.0)
(490.0, 285.0)
Tour length = 1139.6938059391582

(110.0, 225.0)
(161.0, 280.0)
(157.0, 443.0)
(283.0, 379.0)
(325.0, 554.0)
(490.0, 285.0)
Tour length = 1259.6276840705505

(110.0, 225.0)
(161.0, 280.0)
(157.0, 443.0)
(283.0, 379.0)
(325.0, 554.0)
(397.0, 566.0)
(490.0, 285.0)
Tour length = 1313.038203492536

(110.0, 225.0)
(161.0, 280.0)
(157.0, 443.0)
(283.0, 379.0)
(306.0, 360.0)
(325.0, 554.0)
(397.0, 566.0)
(490.0, 285.0)
Tour length = 1357.8298213289954

(110.0, 225.0)
(161.0, 280.0)
(157.0, 443.0)
(283.0, 379.0)
(306.0, 360.0)
(325.0, 554.0)
(397.0, 566.0)
(490.0, 285.0)
(343.0, 110.0)
Tour length = 1461.504290888965

(110.0, 225.0)
(161.0, 280.0)
(157.0, 443.0)
(283.0, 379.0)
(306.0, 360.0)
(325.0, 554.0)
(397.0, 566.0)
(490.0, 285.0)
(552.0, 199.0)
(343.0, 110.0)
Tour length = 1566.1363051360363                                            
                                        </pre>
                                    </div>
                                  </div>
                                </div>
                            </div>

                       </div>
                        <div class="col col-md-4">
                            <div class="todolist not-done">
                                        <div class="h4">To Do</div>
                                        <input type="text" class="form-control add-todo" sortid="5" placeholder="Add todo">
                                            <button id="checkAll" onclick="AllDone(this)" class="btn btn-success" sortid="5">Mark all as done</button>
                                            
                                            <hr>
                                            <ul id="sortable5" class="list-unstyled">
                                            <li class="ui-state-default">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" value="" /> Implement the <code>insertNearest()</code> method</label>
                                                    </div>
                                            </li>
                                            <li class="ui-state-default">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" value="" /> Test the <code>insertNearest()</code> method</label>
                                                    </div>
                                            </li>
                           </div>
                        </div>
                    </div>                       
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="step6">
            <div class="row">
                <div class="col col-md-8">
                    <div class="h4">Instructions: Implement insertSmallest()</div>
                    <p>
                        After doing the nearest insertion heuristic, you should be able write the <code>insertSmallest()</code> method by yourself, without any hints. 
                        The only difference is that you want to insert the point p where it will result in the least possible increase in the total tour length. </p>
                    <p>
                        <b>Upon completion of <code>insertSmallest()</code>, your should test your <code>Tour</code> program.</b>
                    </p>
                    <div id="accordion">
                            <div class="card">
                              <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                      Test insertSmallest()
                                  </button>
                                </h5>
                              </div>
                          
                              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        To test <code>insertSmallest()</code>, try inserting various points into a 4-point tour.  Once you have successfully tested on a 4-point 
                                        tour, here is the resulting tour which has length 1655.7462. In this case, the smallest insertion heuristic actually does worse than the nearest insertion heuristic (although this is not typical).
                                    </p>
                                    <pre>
    This file shows the tour and its length after each point is inserted.
    It may be useful for debugging.

    (110.0, 225.0)
    Tour length = 0.0

    (110.0, 225.0)
    (161.0, 280.0)
    Tour length = 150.0133327407934

    (110.0, 225.0)
    (325.0, 554.0)
    (161.0, 280.0)
    Tour length = 787.358844018307

    (110.0, 225.0)
    (490.0, 285.0)
    (325.0, 554.0)
    (161.0, 280.0)
    Tour length = 1094.6173929810654

    (110.0, 225.0)
    (490.0, 285.0)
    (325.0, 554.0)
    (157.0, 443.0)
    (161.0, 280.0)
    Tour length = 1139.6938059391582

    (110.0, 225.0)
    (283.0, 379.0)
    (490.0, 285.0)
    (325.0, 554.0)
    (157.0, 443.0)
    (161.0, 280.0)
    Tour length = 1213.9433802328422

    (110.0, 225.0)
    (283.0, 379.0)
    (490.0, 285.0)
    (397.0, 566.0)
    (325.0, 554.0)
    (157.0, 443.0)
    (161.0, 280.0)
    Tour length = 1267.3538996548277

    (110.0, 225.0)
    (283.0, 379.0)
    (306.0, 360.0)
    (490.0, 285.0)
    (397.0, 566.0)
    (325.0, 554.0)
    (157.0, 443.0)
    (161.0, 280.0)
    Tour length = 1268.541678478853

    (110.0, 225.0)
    (283.0, 379.0)
    (306.0, 360.0)
    (343.0, 110.0)
    (490.0, 285.0)
    (397.0, 566.0)
    (325.0, 554.0)
    (157.0, 443.0)
    (161.0, 280.0)
    Tour length = 1551.1141715191152

    (110.0, 225.0)
    (283.0, 379.0)
    (306.0, 360.0)
    (343.0, 110.0)
    (552.0, 199.0)
    (490.0, 285.0)
    (397.0, 566.0)
    (325.0, 554.0)
    (157.0, 443.0)
    (161.0, 280.0)
    Tour length = 1655.7461857661865                                        
                                    </pre>
                                </div>
                              </div>
                            </div>
                    </div>
                </div>
                <div class="col col-md-4">
                        <div class="todolist not-done">
                                <div class="h4">To Do</div>
                                <input type="text" class="form-control add-todo" sortid="6" placeholder="Add todo">
                                    <button id="checkAll" onclick="AllDone(this)" class="btn btn-success" sortid="6">Mark all as done</button>
                                    
                                    <hr>
                                    <ul id="sortable6" class="list-unstyled">
                                        <li class="ui-state-default">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="" /> Implement <code>insertSmallest()</code></label>
                                            </div>
                                        </li>    
                                        <li class="ui-state-default">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" value="" /> Test the <code>insertSmallest()</code> method</label>
                                                </div>
                                        </li>
                                </ul>
                        </div>
                </div>
            </div>
       </div>
       <div class="tab-pane fade" id="step7">
            <div class="row">
                <div class="col-md-8">
                    <div class="h4">Testing</div>
                    <p><strong>Input.</strong> The files for this assignment include many sample inputs.
                        <!--There are many sample data files (with extension .txt) available from the
            <a target="_blank" href="tsp/">tsp directory</a>.-->Most are taken from <a target="_blank" href="http://www.iwr.uni-heidelberg.de/groups/comopt/software/TSPLIB95/index.html">
            TSPLIB</a>.</p>
            
                    <p><strong>Debugging.</strong> A good debugging strategy for most programs is to test your code on inputs that you can easily solve by hand. Start with 1- and 2-point problems. Then, do a 4-point problem. Choose the data so that it is easy to work through the code by hand. Draw pictures. If your code does not do exactly what your hand calculations indicate, determine where they differ. Use the <code>StdOut.println()</code> method to trace.</p>
            
                    <p><strong>Checking your work.</strong> For <code>usa13509.txt</code> we get tour lengths of <code>77449.9794</code> and <code>45074.7769</code> for nearest insertion and smallest insertion, respectively. For <code>circuit1290.txt</code> we get <code>25029.7905</code> and <code>14596.0971</code>.</p>

                        <div id="accordion">
                                <div class="card">
                                  <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            Test with Static Visualizer
                                      </button>
                                    </h5>
                                  </div>
                              
                                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                            <p>After completing <code>Tour.java</code>, use the client program <a target="_blank" href="https://www.cs.princeton.edu/courses/archive/fall19/cos126/assignments/tsp/tsp/NearestInsertion.java">NearestInsertion.java</a>, 
                                                which reads the points from standard input; runs the nearest neighbor heuristic; prints the resulting tour, its length, and its number of points to standard output; and draws the resulting tour to standard drawing. 
                                                <a target="_blank" href="https://www.cs.princeton.edu/courses/archive/fall19/cos126/assignments/tsp/tsp/SmallestInsertion.java">SmallestInsertion.java</a> is analogous but runs the smallest increase heuristic.
                                            </p>
                                            <p>
                                                    You can try running NearestInsertion.java and SmallestInsertion.java with <code>tsp1000.txt</code>, shown below, as input. The first line of <code>tsp1000.txt</code> contains two integers <em>width</em> and <em>height</em>, followed by pairs of <em>x</em>- and <em>y</em>-coordinates. 
                                                    All <em>x</em>-coordinates will be real numbers between 0 and <em>width</em>; all <em>y</em>-coordinates will be real numbers between 0 and <em>height</em>. 
                                            </p>
                                            <img src="../static/images/statictsp.png">
                                    </div>
                                  </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Test with Interactive Visualizer
                                        </button>
                                        </h5>
                                    </div>
                                
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>
                                                TSPVisualizer.java in an interactive TSP visualizer. When you click a point in the window, it will add it to your tour. It displays both the nearest neighbor heuristic tour (in red) and the smallest 
                                                insertion heuristic (in blue). You can toggle the visibility of the two tours by typing n (for nearest neighbor) or s (for smallest insertion). Run it with <code>% java-introcs TSPVisualizer tsp1000.txt</code>
                                            </p>
                                            <img class="w-100" src="../static/images/dynamictsp.png">
                                        </div>
                                    </div>
                                </div>
                        </div>
                       
                </div>
                <div class="col-md-4">
                    <div class="todolist not-done">
                                <div class="h4">To Do</div>
                                <input type="text" class="form-control add-todo" sortid="7" placeholder="Add todo">
                                    <button id="checkAll" onclick="AllDone(this)" class="btn btn-success" sortid="7">Mark all as done</button>
                                    
                                    <hr>
                                    <ul id="sortable6" class="list-unstyled">
                                        <li class="ui-state-default">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" value="" /> Test your <code>Tour</code> program with the static visualizer</label>
                                                </div>
                                        </li>
                                        <li class="ui-state-default">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" value="" /> Test your <code>Tour</code> program with <code>interactive visualizer</code></label>
                                                </div>
                                        </li>
                                </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="step8">
                <div class="row">
                    <div class="col-md-8">
                        <div class="h4">Wrapping Up</div>
                            <p>In your <code>readme.txt</code>, estimate the running time (in seconds) of your program as a function of the number of points <em>n</em>.
                                You may use the client <a target="_blank" href="https://www.cs.princeton.edu/courses/archive/fall19/cos126/assignments/tsp/tsp/TSPTimer.java">TSPTimer.java</a> 
                                help collect data points. (It relies on <a target="_blank" href="http://introcs.cs.princeton.edu/java/stdlib/javadoc/Stopwatch.html">Stopwatch</a>, which is part of <code>stdlib.jar</code>.) 
                                It takes a command-line argument <em>n</em>, runs the two heuristics on a random input of size <em>n</em>, and prints how long each took.
                                Run the two heuristics for <em>n</em> = 1,000, and repeatedly double <em>n</em> until the execution time exceeds 60 seconds.</p>
                            <pre>
                % <b>java-introcs -Xint TSPTimer 1000</b>
                Tour length = 26338.42949015926
                Nearest insertion:  0.056 seconds
                
                Tour length = 15505.745750759515
                Smallest insertion:  0.154 seconds
                            </pre>
                    </div>
                    <div class="col col-md-4">
                        <div class="todolist not-done">
                                    <div class="h4">To Do</div>
                                    <input type="text" class="form-control add-todo" sortid="8" placeholder="Add todo">
                                        <button id="checkAll" onclick="AllDone(this)" class="btn btn-success" sortid="8">Mark all as done</button>
                                        <hr>
                                        <ul id="sortable6" class="list-unstyled">
                                            <li class="ui-state-default">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" value="" /> Run and record <code>insertNearest</code> heuristics</label>
                                                    </div>
                                            </li>
                                            <li class="ui-state-default">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" value="" /> Run and record <code>insertSmallest</code> heuristics</code></label>
                                                    </div>
                                            </li>
                                    </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
 </div>
{% endblock %}
{% block extrajs %}
<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script> -->
<script src="/../static/js/wizard.js"></script>
<script src="/../static/js/todo.js"></script>
<script src="/../static/js/addpartner.js"></script>
<script src="/../static/js/popover.js"></script>
{% endblock %}
